{% extends "::base.html.twig" %}

{% block title %}ProductBundle:Product:index{% endblock %}

{% block body %}
    <div class="container">
        {% include 'ProductBundle:Menu:menu.html.twig' %}
        <h1 class="col-lg-2">Produit</h1>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8">

        </div>
    </div>

{% endblock %}
