*{
    margin: 0px;
    padding: 0px auto;
}
body{

}
div.ligne{

}
div.liste{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
table.details-panier{

}
table.details-panier tr td{
    padding: 12px;
    border-bottom: 1px solid #ccc;
}
header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 140px;
}
footer{
    background-color: #636363;
    height: 100px;
}
div.dropdown{
    margin-top: 20px;
}
div.product input[type=text],div.product select{
    height: 36px;
    width: 100%;
    margin-bottom: 15px;
}
div.product input[type=submit]{
    padding: 8px 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #636363;
    color:#FFF;
    border: none;
}
div.product textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px ;

}
div.product input[type=submit]:hover{
    padding: 8px 16px;
    margin-bottom: 20px;
    margin-top: 15px;
    background-color: #FFF;
    color:#636363;
    border: 1px solid #636363;
}
div#signup {
    float: right;
    margin-top: 10px;
}
div.signup input[type=text],div.signup input[type=email],div.signup input[type=password]{
    width: 100%;
    display: block;
    height: 36px ;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;


}
div.signup form input[type=submit]{
    padding: 8px 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #636363;
    color:#FFF;
    border: none;
}
div.signup form input[type=submit]:hover{
    padding: 8px 16px;
    margin-bottom: 20px;
    margin-top: 15px;
    background-color: #FFF;
    color:#636363;
    border: 1px solid #636363;
}