{% extends "::base.html.twig" %}

{% block title %}FrontHomeBundle:Home:index{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-12 box-product">
            <div class="col-lg-2">
                <img src="#" alt="Image photo" />
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">

            </div>
        </div>


    </div>


{% endblock %}
